* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --divOne-color: #6943ff;
  --divTwo-color: #1f2937;
  --text-color: #273549;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
  margin-top: 5vh;
}
#container-one {
  background-color: var(--divOne-color);
  color: white;
  font-family: "Inter", sans-serif;
  width: 550px;
  flex-basis: 40%;
  text-align: center;
  font-size: 28px;
  padding: 10px;
}
#box {
  width: 117px;
  height: 83px;
  background-color: var(--divOne-color);
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 58px;
  color: white;
  margin: 30px;
}
#btn {
  padding: 1px;
  width: 117px;
  height: 42px;
}
#container-two {
  width: 550px;
  flex-basis: 60%;
  background-color: var(--divTwo-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
section {
  background-color: var(--text-color);
  width: 500px;
  height: 90px;
}
